.tasksEmptyState {
  padding: 4rem 1.5rem;
  border-radius: var(--radius);
  border-top: 1px solid var(--gray-400);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tasksEmptyState svg {
  width: 3.5rem;
  height: 3.5rem;
}

.tasksEmptyState div {
  color: var(--gray-300);
}

.tasksEmptyState p {
  line-height: 1.4;
}