.task {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 1rem;
  border: 1px solid var(--400);
  background: var(--gray-500);

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.taskContent {
  color: var(--gray-100);
  flex: 1;
}

.task input[type="checkbox"] {
  appearance: none;
  border-radius: 9999px;
}

.task button {
  cursor: pointer;
  display: flex;
  border-radius: 4px;
  border: 0;
  background: transparent;
  color: var(--gray-300);
  padding: 0.5rem;
}

.task button:hover {
  background: var(--gray-400);
  color: var(--danger);
}

.task button svg {
  width: 1.5rem;
  height: 1.5rem;
}

.taskCompleted {
  flex: 1;
  color: var(--gray-300);
  text-decoration: line-through;
}

.checkmarkContainer {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  position: relative;
}

.checkmarkContainer input {
  position: absolute;
  cursor: pointer;
  inset: 0;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  border: 2px solid var(--primary);

  transition: border 0.1.s, background 0.1s;
}

.checkmarkContainer:hover input ~ .checkmark {
  border: 2px solid var(--primary-dark);
}

.checkmarkContainer input:checked ~ .checkmark {
  border: 0;
  background: var(--secondary-dark);
}

.checkmarkContainer:hover input:checked ~ .checkmark {
  background: var(--secondary);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkmarkContainer .checkmark:after {
  top: 3px;
  left: 5px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

