.task {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 1rem;
  border: 1px solid var(--400);
  background: var(--gray-500);

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.task  span {
  flex: 1;
}

.task button {
  display: flex;
  border-radius: 4px;
  border: 0;
  background: transparent;
  color: var(--gray-300);
  padding: 0.5rem;
}

.task button:hover {
  background: var(--gray-400);
  color: var(--danger);
}

.task button svg {
  width: 1.5rem;
  height: 1.5rem;
}